argon2-cffi==20.1.0
asgiref==3.2.7
astroid==2.3.3
certifi==2020.6.20
cffi==1.14.1
coverage==5.2.1
dj-database-url==0.5.0
Django==3.0.14
django-cors-headers==3.4.0
django-crispy-forms==1.9.2
django-environ==0.4.5
django-heroku==0.3.1
djangorestframework==3.11.2
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.20
pylint==2.4.4
pylint-django
python-dotenv==0.14.0
pytz==2020.1
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.26.5
whitenoise==5.1.0
wrapt==1.11.2
