{% extends "AssetTracker/base.html" %}

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="login_container">
    <h1 id='login_title'>Login</h1>
    <form method="post" class="from-group">
	    {% csrf_token %}
	    {{form|crispy}}
	    <p>Don't have an account? Create one <a href="/register">here</a></p>
	    <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}
