{% extends 'AssetTracker/base.html' %}

{% block content %}
  <div class="Register_container">
    {% if validlink %}
      <h3 id="register_title">Change password</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
{% endblock %}
