.importcsv_container{
    background-color: white;
    font-family: 'Lato', sans-serif;
    padding: 25px;
    margin: 10% 25%;
    border: black solid 3px;
    border-radius: 7px;
}
.showMessage {
    position: fixed;
    z-index: 500;
    width: 50%;
    margin: 10% 25%;
    height: auto;
    box-shadow: 1px 1px 1px black;
    padding: 25px;
    transition: all 0.3s ease-out;
    background-color: white;
    text-align: center;
    border-radius: 7px;
}
.backdrop {
    position: fixed;
    z-index: 400;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
}
.csv_label_title{
    margin-top: 10px;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.csv_input{
    display: block;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .200rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#csv_title{
    padding-bottom: 10px;
    margin-left: -2.5px;
}
#upload_button{
    margin-right: 5px;
}