.dashboard_container{
  background-color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin: 10% 20%;
  border: black solid 3px;
  border-radius: 7px;
}

#dashboard_title{
  padding-bottom: 10px;
  margin-left: -2.5px;
}

.dashboard_stat{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dashboard_stat_container_left {
  background-color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border: black solid 3px;
  border-radius: 7px;
  
  flex-grow: 1;
}

.dashboard_stat_container_center {
  background-color: white;
  font-family: 'Lato', sans-serif;
  margin: 0 5%;
  padding: 10px;
  border: black solid 3px;
  border-radius: 7px;
  
  flex-grow: 1;
}

.dashboard_stat_container_right {
  background-color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border: black solid 3px;
  border-radius: 7px;
  
  flex-grow: 1;
}