{% extends 'AssetTracker/base.html' %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}



{% block content %}
    <h1>Register here</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" id="register_button" class="btn btn-success">Register</button>
    </form>
{% endblock %}