.Preregister_container {
    background-color: white;
    font-family: 'Lato', sans-serif;
    padding: 25px;
    margin: 2% 25%;
    border: black solid 3px;
    border-radius: 7px;
}

#preregister_title{
    padding-bottom: 10px;
    margin-left: -2.5px;
}
